/* select, date */
.input() {
  position: relative;
  display: inline-block;
  width: 100%;
  height: @input-height-default;
  line-height: @input-height-default;
  font-size: @font-size-small;
  color: @color-text-primary;
  background-color: @bg-color-white;
  cursor: text;
}

.input-large() {
  height: @input-height-large;
  line-height: @input-height-large;
}

.input-small() {
  height: @input-height-small;
  line-height: @input-height-small;
}
