@input-prefix: ~"@{css-prefix}input";

.@{input-prefix} {
  &-wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  &-wrapper-large {
  }

  &-wrapper-small {
  }

  &-wrapper-default {
  }
}
