/* less变量 */

/* 样式的前缀 */
@css-prefix: dlz-;

/* 栅格 */
@grid: 24;

/* 颜色 */
@color-primary: #0099FF;
@color-success: #28e7a8;
@color-warning: #f88c56;
@color-danger: #fa657e;
@color-info: #667a83;
@color-black: #000;

/* 背景色 */
@bg-color-white: #fff;
@bg-color-disabled: #f3f3f3;
@bg-color-hover: #f3f3f3;

/* 字体 */
@font-size-small: 13px;
@font-size-base: 14px;
@font-size-medium: 16px;
@font-size-large: 18px;

/* 文本 */
@color-text-primary: #657180;
@color-text-white: #fff;
@color-text-placeholder: #dcdee2;

/* 动画 */
@animation: 300ms;
@transition: 200ms;

/* input高度 */
@input-height-default: 32px;
@input-height-large: 36px;
@input-height-small: 24px;

/* input内边距 */
@input-padding-default: 4px;
@input-padding-large: 6px;
@input-padding-small: 1px;
@input-padding-horizontal: 7px;

/* 圆角半径 */
@border-radius-small: 3px;
@border-radius-default: 4px;

/* 边框颜色 */
@border-color-default: #dcdee2;

/* font icon size */
@font-icon-size-default: 16px;
@font-icon-size-small: 14px;
@font-icon-size-large: 18px;

/* z-index */
@z-index-select: 1000;
